.quiz-area {
    background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
.flex-container {
    height: 600px;
    width: 600px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    backface-visibility: hidden;
}
.card{
    font-family: 'Comfortaa', cursive;
    color: coral;
    width: 150px;
    height: 150px;
    margin: 25px;
    padding: 0;
    background-color: #f9efe5;
    text-align: center;
    border-radius: 15px;
    transition: all 1s linear;
    transform-style: preserve-3d;
}
.front{
    z-index: 2;
    backface-visibility: hidden;
}
.back{
    z-index: 1;
    transform: rotateY(180deg);
}
.card:hover{
    transform: rotateY(180deg);
}
